[global]
token = {{ seedbox_dropbox_token }}
watch_folders = {{ seedbox_watch_folders | join(',') }}
watch_folder_path = {{ seedbox_watch_folder_path }}
extensions = {{ seedbox_extensions_to_watch | join(',') }}
