{{ ansible_managed | comment }}

[Unit]
Description=rtorrent Service
After=network.target
Wants=openvpn@%i.service
After=openvpn@%i.service
BindsTo=openvpn@%i.service

[Service]
Type=forking
User={{ seedbox_user }}
ExecStart={{ seedbox_rtorrentlauncher_path }}/rtorrent.sh start
ExecStop={{ seedbox_rtorrentlauncher_path }}/rtorrent.sh stop

[Install]
WantedBy=multi-user.target
