#!/bin/bash

/usr/sbin/ip addr show tun0 > /dev/null
RETURN_CODE="$?"

if [[ "$RETURN_CODE" -eq 0 ]]
then
    VPN_IP=$(/usr/sbin/ip addr show tun0 | grep inet | awk '{print $2}' | cut -d '/' -f1)
    RTORRENT_IP=$(/usr/bin/ps -ef | sed 's/.*[0-9][0-9]\:[0-9][0-9]\ //g' | grep '^rtorrent' | awk '{print $NF}')
fi

if [[ "$RETURN_CODE" -ne 0 || "$VPN_IP" != "$RTORRENT_IP" || "$1" == "restart" ]]
then
	sudo systemctl stop rtorrent*
   sudo systemctl stop dropboxwatcher
   RANDOM_CONF=$(basename $(ls /etc/openvpn/{{ seedbox_user }}/*.conf | sort -R | tail -1) .conf)
   sudo systemctl start rtorrent@${RANDOM_CONF}
   sudo systemctl start dropboxwatcher
   echo "Restarted"
else
	echo "Nothing to do"
fi
