#!/bin/bash

watch_folder="{{ seedbox_watch_folder_path + '/Youtube-dl' }}"
download_folder="{{ seedbox_download_folder + '/complete/Youtube-dl' }}"

files=(${watch_folder}/*)

if find "${watch_folder}" -mindepth 1 -print -quit | grep -q .
then
    while read -r file
    do
        grep "https://youtu*be/" ${file} | xargs -L 1 -I {} youtube-dl {} -o "${download_folder}/%(uploader)s-%(title)s.%(ext)s" && rm -rf "${file}"
    done <<< "$(ls ${watch_folder}/*)"
fi
